
<span style="float:left;"><strong>Subscriptions</strong></span><a href="/subscriptions"><span style="float:right;"
                                                                         class="glyphicon glyphicon-cog"
                                                                         aria-hidden="true"></span></a><br/>
<span style="float:left;">BBC news</span><span style="float:right;">10</span><br/>
<span style="float:left;">New York Times</span><span style="float:right;">5</span><br/>
<span style="float:left;">Saturday Morning Breakfast Cereal</span><span style="float:right;">2</span><br/>
