
<span style="float:left;"><strong>Subscriptions</strong></span><a href="/subscriptions"><span style="float:right;"
                                                                         class="glyphicon glyphicon-cog"
                                                                         aria-hidden="true"></span></a><br/>
{% if (user_subscriptions is not defined) or not (user_subscriptions|first) %}
<span style="float:left;">You have no subscriptions yet.</span><span style="float:right;"></span><br/>
{% else %}
{% for sub in user_subscriptions %}
<span style="float:left;">{{ sub.source.name }}</span><span style="float:right;">{{ sub.daily_amount }}</span><br/>
{% endfor %}
{% endif %}